<% modal ||= false %>
<% remote = modal ? true : false %>

  <div class="panel-body">
    <%= form_for(@service, remote: remote, html:{ role: :form, 'data-model'=>'service' }) do |f| %>
      <%= resource_error_messages(@service) if @service.errors.any? %>

      <div class='input-group'>
        <span class='input-group-addon glyphicon glyphicon-user'></span>
          <%= f.text_field :name, class:'form-control', placeholder:'Name' %>
      </div>

      <div class='input-group'>
        <span class='input-group-addon glyphicon glyphicon-usd'></span>
          <%= f.text_field :price, class:'form-control', placeholder:'Price' %>
      </div>
             
      <div class='input-group'>
        <span class='input-group-addon glyphicon glyphicon-time'></span>
          <%= f.number_field :duration, class:'form-control', placeholder:'Duration' %>
      </div>
            
      <div class='input-group'>
        <span class='input-group-addon '><strong>%</strong></span>
          <%= f.text_field :discount, class:'form-control', placeholder:'Discount' %>
      </div>
      
      <% if modal %>
          <%= render 'form_submit_button_new' %>
      <% elsif action_name == 'edit'%>
          <%= render 'form_submit_button_edit' %>
      <% end %>

    <% end %>

  </div>