<div class="panel-body">
  <%= form_for(@appointment) do |f| %>
    
      <% if @status %>
        <div class='col-md-4'>
          <div class='input-group no-margin'>
            <span class='input-group-addon glyphicon glyphicon-stats'></span>
            <span class='form-control'>Status</span>
          </div>
        <% if current_user.admin? %>
          <% @status.each do |status| %>
            <div class='input-group no-margin'>
              <span class='input-group-addon'><%= f.radio_button :status, status, :checked => @appointment.status == status %></span>
              <span class='form-control'><%= status.humanize %></span>
            </div>
          <% end %>
        <% else %>
          <%= f.label :status %>
          <% @status.each do |status| %>
            <div class='input-group no-margin'>
              <span class='input-group-addon'><%= f.radio_button :status, status, :checked => @appointment.status == status, disabled: true %></span>
              <span class='form-control'><%= status.humanize %></span>
            </div>
          <% end %>
        <% end %>

      </div>
      <% end %>

    <div class='input-group'>
      <span class='input-group-addon glyphicon glyphicon-user'></span>
      <%= f.select :user_id, @users, {}, class:'form-control' %>
    </div>

    <div class='input-group'>
      <span class='input-group-addon glyphicon glyphicon-screenshot'></span>
      <%= f.select :service_id, @services, {}, class:'form-control' %>
    </div>

    <div class='input-group'>
      <span class='input-group-addon glyphicon glyphicon-calendar'></span>
      <%= f.select :appointment_date, available_datetimes_for_next_week, {}, class:'form-control' %>
    </div>

    <% if action_name == 'new' %>
        <%= render 'form_submit_button_new' %>
    <% elsif action_name == 'edit'%>
        <%= render 'form_submit_button_edit' %>
    <% end %>
      
  <% end %>
</div>
