<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <% if @status %>
    <% if current_user.admin? %>
      <%= f.label :status %>
      <% @status.each do |status| %>
        <br><%= f.radio_button :status, status, :checked => @appointment.status == status %>
        <%= status.humanize %>
      <% end %>
    <% else %>
      <%= f.label :status %>
      <% @status.each do |status| %>
        <br><%= f.radio_button :status, status, :checked => @appointment.status == status, disabled: true %>
        <%= status.humanize %>
      <% end %>
    <% end %>
  <% end %>
  <p>
    <%= f.label :user_id %><br/>
    <%= f.select :user_id, @users, {} %>
  </p>
  <p>
    <%= f.label :service_id %><br/>
    <%= f.select :service_id, @services, {} %>
  </p>
  <p>
    <%= f.label :appointment_date %>
    <%= f.select :appointment_date, available_datetimes_for_next_week, {} %>
  </p>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
