<tr data-link="<%= edit_appointment_path(appointment) %>" id="<%= appointment.id %>">
  <td><%= appointment.appointment_date.strftime('%A, %R (%d %B)') %></td>
  <td class='status-color'><%= appointment.status.humanize %></td>
  <td><%= appointment.user.name.humanize %></td>
  <% if appointment.service.present? %>
    <td><%= appointment.service.name.humanize %></td>
  <% else %>
    <td></td>
  <% end %>
    <% if appointment.destroyable? && current_user.admin? %>
      <td class='removable-item text-center'><%= check_box_tag "appointments[]", appointment.id %></td>
    <% else %>
      <td></td>
    <% end %>
</tr>