<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Status</th>
      <th>User_name</th>
      <th>Service_name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% policy_scope(@appointments).each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.status %></td>
        <% if appointment.user.present? %>
          <td><%= appointment.user.name %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if appointment.service.present? %>
          <td><%= appointment.service.name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
