<!DOCTYPE html>
<html>
<head>
  <title>Agenda2</title>
  <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <% if current_user %>
          <p class="navbar-text navbar-right">
            <a class="user_info" href="<%= edit_user_registration_path %>"><span class="glyphicon glyphicon-user pull-right">&nbsp;<%= current_user.name %></span></a></br>
            <a class="user_info" href="mailto:<%= current_user.email %>"><span class="glyphicon glyphicon-envelope pull-right">&nbsp;<%= current_user.email %></span></a>
          </p>
          <%= tag :meta, :name=>'user_id', content: current_user.id %>
          <%= tag :meta, :name=>'is_admin', content: current_user.admin? %>
      <% end %>

      <ul class="nav nav-justified">
        <li><%= link_to "Home",       root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Profile", edit_user_registration_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Services", services_path %></li>
          <% end %>
          <li><%= link_to "Appointments", appointments_path %></li>
          <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>

    </div>
  </nav>

<div class="container">
  <%= flash_messages if show_layout_flash? %>

  <%= devise_error_messages! if devise_error_messages? %>

  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
